* {
	margin: 0px;
	padding: 0px;
	-webkit-padding-start: 0px;
	}

html {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #000;
  }
		   
body {
	min-width: 200px;
  padding-top: 0;
	line-height: 1.4em;
	font-size: 1em;
  }

.offset {
  padding-left: 3em;
  width: 80%;
  margin: 0 auto;
  padding-right: 3em;
}

header {
  background: #FFF url('halftone.png') repeat;
	padding: 2em 0;
  }	
	   
#index-nav {
  margin: auto;
  padding-left: 5em;
  }
  
h1 {
  font-size: 250%;
  font-weight: bold;
  line-height: 1em;
  }
       
h2 {
  line-height: 1.2em;
  font-size: 1.2em;
  margin-top: 1em;
  font-weight: bold;
  }
  
p#tagline{
	margin: auto 7%;
	padding-bottom: 2em;
  font-style: italic;
  font-weight: normal;
  font-family: Georgia, serif;
  line-height: 2em;
  font-size: 1.2em;
	}

#links a {
  color: #000;
  font-weight: normal;
  padding: 2em;
  }

#links a:hover {
  color: #333;
  font-weight: normal;
  }

#links li {
  display: inline;
  float: right;
  margin-right: 4em;
  }

#links ul {
  margin-right: 10em;
}

/*
===============
Body Styling
===============
*/  

.hidden{
  display:none;
  }

ul {
	list-style-type:none;
  }

#filter-div {
  float: left;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  margin: 0;
  background-color: #CBD6DD;
  }

ul#filter button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  padding: .7em .2em;
  font-size: .8em;
  width: 13%;
  border: none;
  float: left;
  }


ul #filter button:hover {
  background-color: #3384b3;
  }

#portfolio {
  background-color: white;
  }

#container {
	padding-top: 3em;
  width: 100%;
  }

.item {
  width:80%;
  height:200px;
/*  padding: 0em;*/
  margin:4em auto;
  overflow:hidden;
  position:relative;
  }

.item img {
  /*filter:alpha(opacity=90); */   /* ie  */
  /*opacity: 0.7;*/
  margin-top: 5px;
  }

.item .caption {
  width:50%;
  height:200px;
  margin-left:200px;
  color:#000;
  font-weight:bold;
  position:absolute;
  left:0;
  /*filter:alpha(opacity=90);*/    /* ie  */
  /*opacity: 0.9; */ 
  }
.item .caption a {
  text-decoration:none;
  color: #e03406;
  font-size:16px;
  /* add spacing and make the whole row clickable*/
  padding:5px;
  display:block;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  }

.caption a:hover {
  color: #FFF;
}
.item .caption p {
  padding:5px;
  margin:0;
  font-size:.7em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  }
img {
  /* allow javascript moves the img position*/
  position:absolute;
  }
.clear {
  clear:both;
  }

/*END*/

h3,h4,h5 {
	line-height: 1.6em;
	font-size: 1em;
	}

a, button {
  color: #3384b3;
	text-decoration: none;
	font-weight: bold;
	}

a:hover, a:active, button:hover, button:active {
	color: #e03406;
	}
	
.email {
	font-size: .9em;
  }

img {
	padding: 0;
	margin: auto;
	text-align: center;
	display: block;
	}

.thumb {
	display: inline;
	margin: 10px;
	}

object {
	text-align: center;
	display: block;
	margin: 30px auto;
	}

.clear {
	clear: both;
  }

/* Filter classes:
copyedit
design
graphics
html
css
js
wordpress
logo
ruby
*/


/*
=============
Footer
=============
*/
footer {
	text-align: center;
	margin: 2em auto;
	}

ul#social {
	list-style-type:none;
	}
	
ul#social li{
	float: left;
	list-style-type: none;
	padding-left:20px;

	text-align: center;
	display: inline;
	}
		
ul#social li a{
	width: 70px;
  height: 70px;
  display: block;
	overflow:hidden;
  background-image: url('../images/socialicons.png');
	}

a#github {
  background-position: -400px -680px;
	}

a#linkedin {
	background-position: -305px -305px;
	}	
	
#copyright {
	font-size: .8em;
	text-align: center;
  padding-top: 3em;
	}