* {
	margin: 0px;
	padding: 0px;
	-webkit-padding-start: 0px;
	}

html {
	background: #FFF url('halftone.png') repeat ;
  padding: 0;
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #000;
  }
		   
body {
	min-width: 200px;
	max-width: 95%;
	padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
	line-height: 1.4em;
	font-size: 1em;
  }

header {
	background-color: transparent;
	color: #000;
	padding: 2em;
	margin-bottom: 1em;
  }	
	   
  
#index-nav {
  margin: auto;
  padding-left: 5em;
  }
  
h1 {
  font-size: 250%;
  font-variant: small-caps;
  letter-spacing: .1em;
  font-weight: bold;
  line-height: 1em;
  }
       
h2 {
  line-height: 1.2em;
  font-size: 1.2em;
  margin-top: 1em;
  font-weight: bold;
  }
  
#tagline h2{
	margin: auto 20%;
	padding-bottom: 2em;
  font-style: italic;
  font-weight: normal;
  font-family: Georgia, serif;
  line-height: 2em;
	}

#links a {
  color: #000;
  font-weight: normal;
  padding: 2em;
  }

#links a:hover {
  color: #333;
  font-weight: normal;
  }

#links li {
  display: inline;
  float: right;
  margin-right: 1em;
  }

/*
===============
Body Styling
===============
*/  

.hidden{
  display:none;
  }

ul {
	list-style-type:none;
  }

#filter-div {
  float: left;
  width: 200px;
  height: 100%;
  padding: 0;
  margin: 0 .3em;
  overflow: hidden;
  display: none;
  }

ul#filter button {
	padding-left:.2em;
  background-color: #CBD6DD;
  margin: .25em 0;
  padding: .5em;
  font-size: .7em;
  }


ul #filter button:hover {
  background-color: #3384b3
  }


#container {
	padding-top: 3em;
  }

div.item {
/*  border: 1px solid black;*/
	float: left;
	padding: 0em ;
	margin: .3em;
  /*margin: 1em;*/
	background-color: #E8F8FF;
/*	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px #000;
	box-shadow: 0 8px 6px -6px #000;*/
  }

/*For Queness Captions*/
.item {
  width:200px;
  height:200px;
  /*border:4px solid #222;*/
  margin:5px 5px 5px 0;

  /* required to hide the image after resized */
  overflow:hidden;

  /* for child absolute position */
  position:relative;

  /* display div in line */
  float:left;
  }
.item .caption {
  width:200px;
  height:200px;
  background:#000;
  color:#fff;
  font-weight:bold;

  /* fix it at the bottom */
  position:absolute;
  left:0;
  /* hide it by default */
  display:none;
  /* opacity setting */
  filter:alpha(opacity=90);    /* ie  */
  -moz-opacity:0.9;    /* old mozilla browser like netscape  */
  -khtml-opacity: 0.9;    /* for really really old safari */
  opacity: 0.9;    /* css standard, currently it works in most modern browsers like firefox,  */
  }
.item .caption a {
  text-decoration:none;
  color: #e03406;
  font-size:16px;

  /* add spacing and make the whole row clickable*/
  padding:5px;
  display:block;
  }
.item .caption p {
  padding:5px;
  margin:0;
  font-size:10px;
  }
img {
  border:0;
  /* allow javascript moves the img position*/
  position:absolute;
  }
.clear {
  clear:both;
  }

/*END*/

h3,h4,h5 {
	line-height: 1.6em;
	font-size: 1em;
	}

a, button {
	color: #e03406;
	text-decoration: none;
	font-weight: bold;
	}

a img {
	border: thin solid black;
	}

a:hover, a:active, button:hover, button:active {
	color: #3384b3;
	}
	
.email {
	font-size: .9em;
  }

img {
	padding: 0;
	margin: auto;
	text-align: center;
	display: block;
	}

.thumb {
	display: inline;
	margin: 10px;
	border: 2px solid #fff;
	}

object {
	text-align: center;
	display: block;
	margin: 30px auto;
	}

.clear {
	clear: both;
  }

/* Filter classes:
copyedit
design
graphics
html
css
js
wordpress
logo
ruby
*/


/*
=============
Footer
=============
*/
footer {
	text-align: center;
	margin: auto;
	}

ul#social {
	list-style-type:none;
	}
	
ul#social li{
	float: left;
	list-style-type: none;
	padding-left:20px;
	text-align: center;
	display: inline;
	}
		
ul#social li a{
	display: block;
	width:25px;
	height:25px;
	text-indent: -9999px;
	float: left;
	overflow:hidden;
	}

ul#social li#twitter a{
	background: url('images/nav_records.jpg') center bottom;
	}

ul#social li#github a {
	background: url('images/nav_shoppe.jpg') center bottom;
	}

ul#social li#linkedin a {
	background: url('images/nav_media.jpg') center bottom;
	}	
	
#copyright {
	font-size: .8em;
	text-align: center;
  padding-top: 3em;
	}