@charset "UTF-8";

/* Assignment 11: Z Systems Re-Do for Mobile
 * style.css
 *
 */

@media screen and (min-width: 801px) {

body {
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    line-height: 1.4em;
    background: url('../images/bg.jpg') repeat-x #000;
	/*position:relative;*/
	font-size: medium;
}

a{
	text-decoration: none;
	color: #0aaa50;
	font-weight:bold;
}

a:hover {
	background-color: #aaa;
	color: #fff;
}

a:visited {
	background: #555;
}


#logo {
	position: absolute;
	top: 80px;
	left: 880px;
}

#page-wrap {
    width: 860px;
    margin: 30px 100px;
    border: 5px solid #ccc;
	border-radius: 15px;
	background-color: #fff;
}   

#hiring {
	position: fixed;
	top: 300px;
	left: -220px;
}

/* :::::::::::::::
     header
   ::::::::::::::: */

#header {
    height: 150px;
    margin-bottom: 10px;
}

#header h1 {
    margin: 0;
    padding: 28px 28px 0 28px;
    color: #000;
    font-weight: normal;
    font-size: 300%;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 200%;
}

/* :::::::::::::::
     nav
   ::::::::::::::: */

#nav {
    height: 20px;
    background-color: #0a0233;
	padding: 10px;
	width: 500px;
	position:relative;
	bottom: 20px;
	right: 5px;
	float: left;
}

#nav ul {
    list-style-type: none;
    margin: 0;
}

#nav li {
	float: left;
	padding: 0 15px;
}

#nav a {
    color: #fff;
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 1px solid yellow;
    color: yellow;
}

/* :::::::::::::::
     main-content
   ::::::::::::::: */
#main-wrap {
	padding:10px;
}
   
#main-content {
    width: 480px;
    float: left;
    padding: 10px;
	padding-top: 320px;
	background: url('../images/Home-Collage.jpg') no-repeat;
}

#main-content h2 {
    margin: 15px 0;
	font-size: 100%;
}

/* :::::::::::::::
     sidebar
   ::::::::::::::: */

#sidebar {
    border: 1px solid #ccc;
	border-radius: 15px;
    width: 300px;
    float: right;
    padding: 0 10px;
	position: relative;
	bottom: 60px;
}

#sidebar h2 {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

#sidebar ul {
    list-style-type: circle;
    padding-left: 20px;
}

#sidebar li{
		font-weight:bold;
}
/* :::::::::::::::
     footer
   ::::::::::::::: */

#footer {
    clear: both;
    text-align: center;
    color: #555;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

#footer p {
    margin: 0;
    padding: 5px;
	background: url('../images/tagline.png') no-repeat 10px 50px;
}


}/* end 801px+ version */

@media screen and (max-width:800px) {
body {
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    line-height: 1.4em;
    background: url('../images/bg.jpg') repeat-x #000;
	/*position:relative;*/
	font-size: medium;
}

a{
	text-decoration: none;
	color: #0aaa50;
	font-weight:bold;
}

a:hover {
	background-color: #aaa;
	color: #fff;
}

a:visited {
	background: #555;
}


#logo {
	position: absolute;
	top: 80px;
	left: 880px;
}

#page-wrap {
    width: 860px;
    margin: 30px 100px;
    border: 5px solid #ccc;
	border-radius: 15px;
	background-color: #fff;
}   

#hiring {
	position: fixed;
	top: 300px;
	left: -220px;
}

/* :::::::::::::::
     header
   ::::::::::::::: */

#header {
    height: 150px;
    margin-bottom: 10px;
}

#header h1 {
    margin: 0;
    padding: 28px 28px 0 28px;
    color: #000;
    font-weight: normal;
    font-size: 300%;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 200%;
}

/* :::::::::::::::
     nav
   ::::::::::::::: */

#nav {
    height: 20px;
    background-color: #0a0233;
	padding: 10px;
	width: 500px;
	position:relative;
	bottom: 20px;
	right: 5px;
	float: left;
}

#nav ul {
    list-style-type: none;
    margin: 0;
}

#nav li {
	float: left;
	padding: 0 15px;
}

#nav a {
    color: #fff;
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 1px solid yellow;
    color: yellow;
}

/* :::::::::::::::
     main-content
   ::::::::::::::: */
#main-wrap {
	padding:10px;
}
   
#main-content {
    width: 480px;
    float: left;
    padding: 10px;
	padding-top: 320px;
	background: url('../images/Home-Collage.jpg') no-repeat;
}

#main-content h2 {
    margin: 15px 0;
	font-size: 100%;
}

/* :::::::::::::::
     sidebar
   ::::::::::::::: */

#sidebar {
    border: 1px solid #ccc;
	border-radius: 15px;
    width: 300px;
    float: right;
    padding: 0 10px;
	position: relative;
	bottom: 60px;
}

#sidebar h2 {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

#sidebar ul {
    list-style-type: circle;
    padding-left: 20px;
}

#sidebar li{
		font-weight:bold;
}
/* :::::::::::::::
     footer
   ::::::::::::::: */

#footer {
    clear: both;
    text-align: center;
    color: #555;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

#footer p {
    margin: 0;
    padding: 5px;
	background: url('../images/tagline.png') no-repeat 10px 50px;
}
}





